<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>596692664369-p7qh7phtj6mo4q045hmrb40f1lkaaeju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596692664369-p7qh7phtj6mo4q045hmrb40f1lkaaeju</string>
	<key>API_KEY</key>
	<string>AIzaSyAGPCwxqA5OXGw2a6r6zdIlowYQ9rrn6ic</string>
	<key>GCM_SENDER_ID</key>
	<string>596692664369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthenticationBlocDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-bloc-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-bloc-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596692664369:ios:0cd71c4ee48c175709d510</string>
</dict>
</plist>